body {
  border: 2px dashed black;
}

main {
  background-color: aquamarine;
}

.type-area {
  background-color: rgb(255, 254, 184);
}

.words {
  font-size: 1.5rem;
}

.red {
  color: red;
}

.green {
  color: rgb(0, 236, 0);
}

.current-letter {
  border-bottom: 2px solid black;
}

.modal {
  display: block;
}
